*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
header{
    background-color: #4e2a84;
    color: white;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header__content{
    width: 75%;
    margin: 0 auto;
}
.header__content ul{
    list-style: none;
}
.header__content li{
    display: inline;
    margin-left: 25px;
}
.header__content a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: all .5s;
    font-weight: 500;
    letter-spacing: 2px;
}
.header__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__content a:hover{
    color: #ff0e83;
}
.header__content li .active{
    color: #ff0e83;
}
.carousel{
    background-image: url(../img/b3.jpg);
    height: 700px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
.carousel__content h2{
    font-size: 4rem;
    color: white;
}
button{
    padding: 13px 30px;
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    transition: all .5s;
}
button:hover{
    background-color: white;
    color: black;
    border-color: #ff0e83;
}
.intro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    color: white;
}
.intro__item:nth-child(1),.intro__item:nth-child(8){
    background-color: #4e2a84;
}
.intro__item:nth-child(2){
    grid-column: 2 / span 2;
    
}
.intro__item:nth-child(3){
    background-color: #ff0e83;
}
.intro__item:nth-child(4){
    grid-column: 1 / span 2;
    background-color: #ed6498;
}
.intro__item:nth-child(6){
    background-color: #836eaa;
}
.intro__item:nth-child(9){
    grid-column: 3 / span 2;
}
.intro__item img{
    width: 100%;
    height: 100%;
}
.intro__item{
    display: flex;
    align-items: center;
}
.intro__item p{
    padding: 0 35px;
}

.number{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
   padding: 70px 0;
}
.number__item{
    text-align: center;
}
.number h1{
    color: #4e2a84;
    font-size: 2.2rem;
}
.number p{
   padding: 30px 0;
    font-size: 25px;
}

.service{
    text-align: center;
    background-image: url(../img/s1.jpg);
    padding: 70px 0;
    background-position: center;
    background-size: cover;
}
.service h2{
    font-size: 45px;
    margin-bottom: 40px;
} 
.service__item i{
    font-size: 60px;
    color: #4e2a84;
    background-color: white;
    line-height: 100px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #4e2a84;
    transition: all .5s;
}
.service__item:hover i{
    color: #ff0e83;
    border-color: #ff0e83;
}
.service__item h3{
    font-size: 30px;
    font-weight: 300;
    line-height: 2;
}
.service__item p{
    line-height: 1.5;
}

.service__items{
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.gallery > h1{
    font-size: 3rem;
    color: black;
    text-align: center;
    padding: 70px;
}
.gallery{
    padding-bottom: 100px;
}
.gallery__items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 0 15px;
}
.gallery__item:nth-child(1){
    grid-column: 1 / span 2 ;
}
.gallery__item:nth-child(6){
    grid-column: 3 / span 2;
}
.gallery__item img{
    width: 100%;
    height: 100%;
}
.gallery__item{
    position: relative;
    overflow: hidden;
}
.gallery__overlay{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 24px 38px;
    width: 100%;
    height: 100%;
    
    color: white;
}
.gallery__item:hover .gallery__overlay{
    background-color: rgba(0, 0, 0, 0.521);
    transition: all .5s;
}
.gallery__overlay p{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 24px 38px;
    transform: translateY(60px);
    transition: all .5s;
    opacity: 0;
}
.gallery__item:hover .gallery__overlay p{
    transform: translateY(0);
    opacity: 1;
}
.gallery__overlay h2::after{
    content: "";
    height: 5px;
    width: 100%;
    background-color: white;
    display: block;
    margin-top: 15px;
    transform: translateY(20px);
    transition: all .5s;
    opacity: 0;
}
.gallery__item:hover .gallery__overlay h2::after{
    transform: translateY(0);
    opacity: 1;
}
.gallery__overlay h2{
    transform: translateY(20px);
    transition: all .5s;
}
.gallery__item:hover .gallery__overlay h2{
    transform: translateY(0);
}
.gallery__item a{
    color: white;
}
.team{
    background-color: #4e2a84;
    padding: 70px 0;
}
.team > h1{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 70px ;
    color: white;
    
}
.team__items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
     
    gap: 25px 30px;
    width: 75%;
    margin:  0 auto;
}
.team__item img{
    width: 100%;
}
.team__item{
    position: relative;
     
}
.team__title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ff0e83;
    color: white;
    padding: 30px;
}
.team__title h3{
    line-height: 1.5;
    font-size: 20px;
}
.team__detail{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 100px 30px;
color: white;
opacity: 0;
transition: all .5s;
background-color: rgba(0, 0, 0, 0.596);
}
.team__detail h3{
color: #ff0e83;
}
.team__detail p:first-of-type{
font-size: 14px;
line-height: 2.8;
}
.team__detail p:last-of-type{
line-height: 1.8;
}
.team__detail i{
height: 37px;
width: 37px;
border: 1px solid white;
line-height: 37px;
align-items: center;
text-align: center;
margin-right: 15px;
transition: all .5s;
margin-top: 20px;

}
.team__detail i:hover{
color: #ff0e83;
border-color: #ff0e83;
}
.team__item:hover .team__detail{
    opacity: 1;
}
.feedback{
    background-image: url(../img/cc1.jpg);
    padding: 150px 0;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}
.feedback__item{
    
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.589);
    margin: 0 200px;
    border: 3px solid #ff0e83;
}
.feedback .owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: -00px;
}
 
.feedback .owl-theme .owl-dots .owl-dot.active span{
    background-color: yellow;
}
.feedback .owl-theme .owl-dots .owl-dot span{
    background-color: black;
}
.contact{

 
text-align: center;
}

.contact h2{
    font-size:40px;
    text-align: center;
    padding: 70px;
}
.contact__form{
display: grid;
grid-template-columns: repeat(2,1fr);
width: 75%;
margin: 0 auto;
gap: 25px 30px;
}
.contact__form textarea{
grid-column: 1/ span 2 ;
}
.contact__form button{
    grid-column: 1 / span 2;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    transition: all .5s;
    margin-bottom: 100px;
}
.contact__form button:hover{
    background-color: black;
    color: white;
    border-color: black;
}
.contact__form input{
padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 5px;
    transition: all .5s;
}
.contact__form input:focus{
    outline: none;
    box-shadow:  0 0 5px 2px  rgb(72, 136, 192);
}
.contact__form textarea{
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    resize: none;
    outline: none;
}
.contact__form textarea:focus{
    box-shadow: 0 0 5px rgb(55, 155, 191);
}
.contact__map iframe{
    width: 100%;
    
}
.contact__items{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 90px 0;
}
.contact__item i{
    color: #4e2a84;
    font-size: 2.2rem;
}

footer{
    background-color: black;
    padding: 70px 0;
}
.footer__items{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    color: white;
}
.footer__item{
    width: 25%;
    padding: 0 20px;
}
.footer__item h3{
    color: #ff0e83;
    font-size: 25px; 
}  
.footer__time{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted white;
}
.footer__item p{
    font-size: 14px;
    padding: 15px 0;
}
.footer__time p:first-of-type{
    margin-top: 0;
}
.footer__item:last-of-type h3{
    margin-bottom: 15px;
}
.footer__item input{
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.footer__item input:focus{
    outline: none;
}
.footer__item button{
    padding: 8px 20px;
    color: black;
    border: 1px solid black;
    font-weight: 600;
}
 .footer__item a{ 
    color: white;
    margin-right: 10px;
 }
.footer__item i{
    font-size: 20px;
    height: 38px;
    width: 38px;
    line-height: 38px ;
    border: 1px solid white;
    text-align: center;
    transition: all .3s;
}
.footer__item:first-of-type p{
    line-height: 2;
    letter-spacing: 1px;
}
.footer__icons a:hover i{
    color: #ff0e83;
    border-color: #ff0e83;
}
.footer__copyright p{
    color: white;
    text-align: center; 
    padding-top: 40px;
    font-size: 14px;
    letter-spacing: 1px;
}
.footer__copyright span{
    color: #ff0e83;
}
.backToTop{
    color: black;
    position: fixed;
    bottom: 50px ;
    right: 50px;
    visibility: hidden;
    opacity: 0;
    background-color: white;
} 
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}
.cd-top--fade-out {  
opacity: .5;
}
.backToTop i{
    font-size: 2rem;
    border: 3px solid black;
    height: 38px;
    width: 38px;
    line-height: 36px;
    text-align: center;
}
