*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #4e2a84;
    color: white; 
    padding: 15px 0;
}
header .header__content h1{
    font-weight: 300;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline;
    margin-left: 25px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all .5s;
}
.header__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
nav ul li .active{
    color: #ff0e83;
}
nav ul li a:hover{
    color: #ff0e83;
}
.carousel{
    background-image: url(../img/b3.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
}