*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #4e2a84;
    color: white; 
    padding: 15px 0;
}
header .header__content h1{
    font-weight: 300;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline;
    margin-left: 25px;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all .5s;
}
.header__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
nav ul li .active{
    color: #ff0e83;
}
nav ul li a:hover{
    color: #ff0e83;
}
.carousel{
    background-image: url(../img/b3.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3rem;
    letter-spacing: 3px;
}
.carousel__content p{
    line-height: 3;
}
button{
    padding: 13px 32px;
    background-color: #ff0e83;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all .5s;
}
button:hover{
    background-color: white;
    color: black;
    border-color: #ff0e83;
}
.intro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.intro__item:nth-child(1),.intro__item:nth-child(8){
    background-color: #4e2a84;
}
.intro__item:nth-child(2){
    grid-column: 2 / span 2;
}
.intro__item:nth-child(3){
    background-color: #ff0e83;
}
.intro__item:nth-child(4){
    grid-column: 1 / span 2;
    background-color: #ed6498;
}
.intro__item:nth-child(9){
    grid-column:  3 / span 2;
}
.intro__item:nth-child(6){
    background-color: #836eaa;
}
.intro__item img{
    width: 100%;
    height: 100%;
}
.intro__item{
    display: flex;
    align-items: center;
    text-align: center;
    
}
.intro__content{
    padding: 30px;
}
.intro__content h3{
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}
.intro__content p{
    color: #c1c1c1;
    line-height: 2;
}
.number{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 70px 0;
    text-align: center;
}
.number__item h3{
    font-size: 30px;
    color: #4e2a84;
}
.number__item p{
    font-size: 25px;
    margin-top: 30px;
    font-weight: 700;
    letter-spacing: 4px;
}
.service h1{
    color: white;
    margin-bottom: 50px;
}
.service{
    background-image: url(../img/s1.jpg);
    background-size: cover;
    padding: 70px 0;
    text-align: center;
}
 
.service__items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
.service__item i{
    font-size:3.5rem;
    background-color: white;
    border: 1px solid #4e2a84;
    color: #4e2a84;
    width: 100px;
    height: 100px;
    line-height: 99px;
    border-radius: 50%;
    transition: all .5s;
}
.service__item i:hover{
    color: #ff0e83;
}
.service__item h3{
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 20px;
    
}
.service__item p{
    line-height: 1.5;
    padding: 25px;
}
.service__item button{
    border-width: 2px;
}
.service__item:hover i{
    color: #ff0e83;
}

.gallery{
    padding: 70px 0;
    
}
.gallery h1{    
    margin-bottom: 35px;
    text-align: center;
}
.gallery__items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 0 15px;
}
.gallery__item:nth-child(1){
    grid-column: 1 / span 2;
}
.gallery__item:nth-child(6){
    grid-column: 3 / span 2;
}
.gallery__item img{
    width: 100%;
    height: 100%;
}

.gallery__item{
    position: relative;
    overflow: hidden;
}
.gallery__overlay{
    background-color: rgba(48, 132, 163, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    width: 100%;
    height: 100%;
    padding: 38px 24px;
    color: white;
}
.gallery__overlay h3{
    font-size: 28px;
    transition: all .5s;
    transform: translateY(20px);
}
.gallery__item:hover .gallery__overlay h3{
    transform: translateY(0);
}
.gallery__overlay span{
    font-weight: 300;
}
.gallery__overlay p{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 38px 24px;
    transition: all .5s;
    transform: translateY(50px);
    opacity: 0;
}
.gallery__item:hover .gallery__overlay p{
    transform: translateY(0);
    opacity:1;
}
.gallery__overlay h3::after{
    content: "";
    width: 100%;
    background-color: white;
    height: 5px;
    display: block;
    margin-top: 20px;
    transition: all .5s;
    transform: translateY(20px);
    opacity: 0;
}
.gallery__item:hover h3::after{
    transform: translateY(0);
    opacity: 1;
}
.team{
    padding: 70px 0;
    background-color: #4e2a84;
    color: white;
}
.team h1{
    text-align: center;
    margin-bottom: 35px;
}
.team__items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 70%;
    margin: 0 auto;
    gap: 25px 30px;
}
.team__item img{
    width: 100%;
}
.team__item{
    position: relative;
}
.team__title{
    background-color: #ff0e83;
    position: absolute;
    bottom: 0;
    left: 0;

}
 